
<div class="row">
  <div class="col-xs-3">
<!--       <%= image_tag @user.avatar.url %> -->
  <div class="profile_layout">
      <ul>
      <li><%= @user.name %></li>
      <li><%= link_to "Add a boat", new_boat_path %></li>
      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
    </div>
  </div>

<div class="container">
  <div class="profile text-center">
  <div class="col-xs-9">
    <%=stylesheet_link_tag('pages/user.css')%>



    <h3>Boats</h3>
    <table>
      <thead>
        <tr>
          <th>Boat Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @boats.each do |boat|%>
          <tr>
            <td><%= link_to boat.name, boat_path(boat) %></td>
            <td><%= link_to "Delete", boat_path(boat), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h3>Bookings</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking|%>
          <tr>
            <td><%= link_to booking.boat.name, boat_path(booking.boat) %></td>
            <td><%= booking.start_date.strftime("%A, %d %b %Y") %></td>
            <td><%= booking.end_date.strftime("%A, %d %b %Y") %></td>
            <td><p><%= link_to "Update", edit_booking_path(booking) %></p></p>
                <p><%= link_to "Cancel", booking_path(booking), method: :delete %></p></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
  </div>
</div>


