
<!-- front end all yours~ -->
<!--  -->
<table>
  <thread>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thread>

<div class="content">
      <div class="cards container">
        <div class="row">
          <% @boats.each do |boat| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card" style="background-image: url(background.jpg)">
                <div class="cardholder">
                  <div class="card card1">
                    <h3><%= link_to boat.name, boat_path(boat.id)%></h3>
                    <p><%= boat.length  %></p>
                    <img src="images/jad.png" alt="Boats">
                  </div>
                   <div class="footer">
                   <div class="price"><%= boat.price  %></div>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-heart"></i>
                   <i class="fa fa-share"></i>
                   </div>
               </div>
                <p> <%= boat.location  %> </p>

              </div>
            </div>
          <% end %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: url()">
              <h1> Boat 2</h1>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: url()">
              <h1> Boat 3</h1>
            </div>
          </div>

        </div>
      </div>
    </div>

<%= link_to 'New ', new_boat_path %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<!-- <% if policy(Boat).new? %>
  <%= link_to 'New Boat', new_boat_path %>
<% end %> -->

<!-- front end all yours~ -->
