
<!-- front end all yours~ -->
<!--  -->
<div class="main-container">
  <div class="cards-container card-body">
    <div class="row">
      <% @boats.each do |boat| %>
        <div class="col-xs-12 col-sm-4 boat-row">
          <div class="card card-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= boat.photo? ? (image_path boat.photo.url) : (image_path("boat1.jpg")) %>');">
            <div class="card-category"><%= boat.name %></div>
            <div class="card-description">
            <h2><%= link_to boat.name, boat_path(boat.id)%></h2>
            <p><%= boat.location  %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>">
  </div>
</div>





