
<% if @boat.photo.present? %>
  <%= image_tag @boat.photo.url %>
<% end %>

<h1> <%=  @boat.name %></h1>

<!-- front end: all yours -->

<%= simple_form_for [@boat, @booking] do |f| %>
  <%= f.input :start_date, :as => :date, :order => [:day, :month, :year] %>
  <%= f.input :end_date, :as => :date, :order => [:day, :month, :year] %>
  <%= f.submit "Book this boat", class: "btn btn-primary" %>
<% end %>

