
<!-- front end: all yours -->

<div class="banner" style="">
  <div class="banner-content">
  </div>
</div>

<div class="content">
  <h1><%= @boat.name %></h1>
</div>

<div class="row">
  <p>About this boat</p>
</div>




<%= link_to "book this boat", new_boat_booking_path(@boat.id) %>
<%= simple_form_for [@boat, @booking] do |f| %>
  <%= f.input :start_date, :as => :date, :order => [:day, :month, :year] %>
  <%= f.input :end_date, :as => :date, :order => [:day, :month, :year] %>
  <%= f.submit "Book this boat", class: "btn btn-primary" %>
<% end %>

